@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;600&display=swap');
@import './variables.css';
@import './tabs.css';
@import './button.css';
@import './code-panel.css';
@import './page.css';
@import './checkbox.css';
@import './tool-bar.css';
@import './input.css';
@import './label.css';

body {
  font-family: 'JetBrains Mono', monospace;
  font-size: 12px;
  line-height: 18px;
  color: var(--color-text-default);
  background-color: var(--color-bg-figma-default);
}

.mb-1 {
  margin-bottom: 0.5rem;
}

.mb-2 {
  margin-bottom: 0.75rem;
}

.object-propery {
  padding: 0;
  margin: 0;
  color: var(--color-text-muted);
}

.local-filter {
  padding: 0.5rem 0 0.75rem;
  border-bottom: 1px solid var(--color-stroke-base-100);
  display: flex;
  align-items: center;
  gap: 0.25rem;
  cursor: pointer;
}

.logs {
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 12px;
  height: 424px;
  overflow-y: auto;
  padding: 0.25rem;
  margin-top: 0.25rem;
}

.logs .log {
  margin: 0;
  padding: 0.25rem 0;
  opacity: 1;
}

.logs .log-text {
 opacity: .8 
}

.logs .log-group {
  opacity: .5;
}

.logs .log-comment {
  opacity: .25;
}

.logs .log-comment.log-error {
  opacity: 1;
  color: orangered;
}